<h1 class="green"> Transactions</h1>
<h1>Hello</h1>
<% @entities.each do |entity| %>
  <div class="flex justify-between items-center">
  <span class="item">
          <%= entity.name, class: 'text' %>
        </span>
    <div class="btn-edit btn-mini">
      <%= link_to "Edit", edit_group_entity_path(@group, entity), class: 'txt-white' %>
      </div>
      <div class="btn-delete btn-mini">
      <%= link_to "Delete", group_entity_path(@group, entity), data:  { turbo_method: :delete }, class: 'txt-white' %>
    </div>
  </div>
<% end %>
<div class="fixed bottom-0 left-0 right-0 sm:mx-20 py-8 flex">
  <%= link_to 'New Category', new_group_entity_path(@group) ,  class: 'w-full bg-second focus:bg-green-500 hover:bg-lightgreen-700 text-white py-2 px-4 text-center font-semibold' %>
</div>
