<div class="flex-col signup">
  <div class="budget-app">
    <h1>Budget App</h1>
  </div>
  <div class="flex-col">
    <%= link_to 'Log in', new_user_session_path , class: "btn-mid" %>
    <%= link_to 'Sign up', new_user_registration_path , class: "btn-mid" %>
  </div>
</div>
