@import "font-awesome";

.blue {
  color: #3770c2;
}

.green {
  color: #5fb523;
}

.signup {
  background-color: #4b525a07;
  width: 30%;
  margin: 80px 35%;
  padding: 5% 5%;
}

.budget-app {
  margin: 25% 2%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 10%;
  background: rgb(55, 112, 194);
  background: linear-gradient(45deg, rgba(55, 112, 194, 1) 0%, rgba(190, 216, 255, 1) 27%, rgba(55, 112, 194, 1) 100%);
}

.user-name {
  color: #fff;
}

.signout {
  color: #fff;
  text-decoration: none;
  margin-left: 50%;
}

.img-div {
  width: 30%;
  position: fixed;
  top: 150px;
  right: 90px;
}

.img {
  width: 100%;
  height: auto;
}

.icon {
  width: 50px;
  height: 50px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80%;
}

.category-details {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0 3px 0 3px;
}

.avatar {
  border: 2px solid #5fb523;
  border-radius: 100%;
  margin-right: 50px;
}

.item {
  width: 150px;
}

.text {
  font-size: 17px;
  text-decoration: none;
  color: #3770c2;
  margin-right: 50px;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: fixed;
  bottom: 10px;
}

.btn-main {
  width: 80%;
  height: 30px;
  border: 1px solid #3771c200;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  position: fixed;
  bottom: 20px;
  left: 10%;
  background: rgb(95, 181, 35);
  background: linear-gradient(149deg, rgba(95, 181, 35, 1) 0%, rgba(180, 255, 128, 1) 70%, rgba(95, 181, 35, 1) 100%);
}

.txt-white {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.btn-main:hover {
  background: rgb(95, 181, 35);
  background: linear-gradient(149deg, rgba(95, 181, 35, 1) 0%, rgba(180, 255, 128, 1) 30%, rgba(95, 181, 35, 1) 100%);
  color: #fff;
  transition: 5s;
}

.back-btn {
  background-color: #5fb523;
  padding: 0 10px 6px 10px;
}

.btn-mini {
  width: 60px;
  height: 25px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: small;
}

.btn-edit {
  background-color: #3770c2;
}

.btn-edit:hover {
  background: #29599b;
  border: 1px solid #285fac;
  transition: 0.5s;
}

.btn-delete {
  background-color: rgb(185, 51, 51);
}

.btn-delete:hover {
  background-color: rgb(139, 42, 42);
  border: 1px solid rgb(185, 51, 51);
  transition: 0.5s;
}

.btn-secound:hover {
  background: #fff;
  color: #5fb523;
  border: 1px solid #5fb523;
  transition: 0.5s;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-container {
  display: flex;
  justify-content: space-around;
}

.btn-mid {
  width: 300px;
  height: 30px;
  background-color: #3770c2;
  color: #fff;
  text-decoration: none;
  border: 1px solid #3770c2;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.input-mid {
  background-color: #e0ebfa;
  width: 300px;
  height: 20px;
  color: #5fb523;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  padding-top: 5%;
  margin-top: 10px;
}

.h2 {
  color: #5fb523;
  margin-top: 58px;
}

@media (max-width: 768px) {
  .signup {
    width: 80%;
    position: fixed;
    left: -30%;
  }

  .img-div {
    display: none;
  }

  .img {
    display: none;
  }

  .md-100 {
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;
  }

  .input-mid {
    width: 80%;
  }

  .btn-mid {
    width: 80%;
  }

  .category {
    width: 80%;
    padding: 0 0;
  }

  .categorys-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }

  .category-details {
    margin-left: 5%;
  }

  // .flex-col {
  //   display: block;
  // }

  .item {
    width: 14%;
    margin-right: 30px;
    margin-left: 0;
  }

  .btns {
    padding-left: 70%;
  }

  .btn {
    padding-left: 20%;
  }

  .avatar {
    margin-left: 40%;
  }
}
