/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

.blue {
  color: #3770c2;
}

.green {
  color: #5fb523;
}

.signup {
  background-color: #4b525a07;
  width: 80%;
  margin: 180px 10%;
}

.budget-app {
  margin: 25% 2%;
}

.nav {
  background: rgb(55, 112, 194);
  background: linear-gradient(45deg, rgba(55, 112, 194, 1) 0%, rgba(190, 216, 255, 1) 27%, rgba(55, 112, 194, 1) 100%);
}

.img-div {
  display: block;
  width: 35%;
}

.icon {
  width: 40px;
  height: 40px;
}

.btn-main {
  background: rgb(95, 181, 35);
  background: linear-gradient(149deg, rgba(95, 181, 35, 1) 0%, rgba(180, 255, 128, 1) 70%, rgba(95, 181, 35, 1) 100%);
}

.btn-main:hover {
  background: rgb(95, 181, 35);
  background: linear-gradient(149deg, rgba(95, 181, 35, 1) 0%, rgba(180, 255, 128, 1) 30%, rgba(95, 181, 35, 1) 100%);
  color: #fff;
  transition: 5s;
}

.btn-edit:hover {
  background: #fff;
  color: #3770c2;
  border: 1px solid #3770c2;
  transition: 0.5s;
}

.btn-delete:hover {
  background: #fff;
  color: rgb(185, 51, 51);
  border: 1px solid rgb(185, 51, 51);
  transition: 0.5s;
}

.btn-secound:hover {
  background: #fff;
  color: #5fb523;
  border: 1px solid #5fb523;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .signup {
    width: 30%;
    margin: 120px 35%;
  }

  .img-div {
    display: none;
  }

  .md-100 {
    width: 100%;
  }
}
